@import "~sass-bem-utils/dist/sass-bem-utils";

$bem-use-namespaces: true;
$bem-block-namespaces: (
  'utility': 'telechart2',
  'object': 'telechart2',
  'component': 'telechart2',
);
$bem-modifier-separator: '_';
$bem-element-separator: '__';
