@import "../system/index";
@import "../themes/index";

@include block('chart-label', 'component') {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.43), 0 1px 3px 0px rgba(0, 0, 0, 0.13);
  transition: background-color $primary-transition,
    color $primary-transition,
    opacity $primary-transition,
    // transform .05s $primary-transition-function,
    left .05s $primary-transition-function,
    top .1s $primary-transition-function;
  pointer-events: none;
  user-select: none;
  opacity: 0;

  @include default-theme {
    background-color: #fff;
  }

  @include dark-theme {
    background-color: $dark-color;
    color: white;
  }

  @include modifier('visible') {
    opacity: 1;
  }

  @include element('date') {
    font-size: 14px;
    font-weight: 500;
  }

  @include element('table') {
    overflow: hidden;
    margin-top: 4px;
    max-width: 170px;
    margin-left: -16px;
  }

  @include element('table-item') {
    float: left;
    padding-left: 16px;
    padding-top: 4px;
  }

  @include element('table-item-value') {
    font-size: 16px;
    font-weight: bold;
  }

  @include element('table-item-title') {
    font-size: 12px;
    margin-left: 1px;
  }
}
