@import "../system/index";

@keyframes shaking {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@include block('label-button', 'component') {
  padding: 4px 19.5px;
  border: 2px solid transparent;
  background-color: transparent;
  outline: none;
  border-radius: 40px;
  color: white;
  transition: transform $primary-transition, opacity $primary-transition;
  will-change: transform;
  user-select: none;
  opacity: 1;
  transform: scale(1);

  &:not(:last-of-type) {
    margin-right: 6px;
    margin-bottom: 7px;
  }

  @media screen and (min-width: $tablet-width) {
    cursor: pointer;
  }

  @include element('icon') {
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;
    transform: scale( 1.1 );
    width: 0;

    path {
      // transition: stroke-dashoffset .2s $primary-transition-function;
      stroke-dasharray: 15;
      stroke-dashoffset: 15;
    }
  }

  @include element('text') {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1px;
    // transition: color $primary-transition;
  }

  @include modifier('selected') {
    padding: 4px 12px 4px 5px;

    @include modifies-element('icon') {
      width: 22px;

      path {
        stroke-dashoffset: 0 !important;
      }
    }
  }

  @include modifier('shaking') {
    animation-name: shaking;
    animation-duration: 500ms;
  }

  @include modifier('creating') {
    opacity: 0;
    transform: scale( .8 );
  }
}
