@import "../system/index";
@import "../themes/index";

@include block('navigator-overlay', 'component') {
  fill: rgba(240, 246, 249, 0.75);
  transition: fill $primary-transition;
  cursor: pointer;

  @include default-theme {
    fill: rgba(240, 246, 249, 0.75) !important;
  }

  @include dark-theme {
    fill: rgba(28, 37, 49, 0.59) !important;
  }
}
