@import "../system/index";
@import "../themes/index";

@include block('root', 'component') {
  display: block;
  position: relative;

  &,
  * {
    font-family: 'Roboto', Arial, sans-serif;
  }
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbing {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
