$dark-color: #242F3E;

$link-color: #108BE3;
$link-color-dark: #36A8F1;

$cursor-color: rgba(163, 196, 220, 0.5);
$border-color: transparentize( $cursor-color, .1 );

$axis-color: rgba(163, 196, 220, 0.2);
$axis-color-dark: rgba(163, 196, 220, 0.1);

$axis-value-color: rgba(61, 90, 110, 0.56);
$axis-value-color-dark: rgba(125, 158, 181, 0.69);
